<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
        X-MLBAM-WUID = <%= userid %><br/>
        Host = <%= host %><br/>
        User-Agent = <%= useragent %><br/>
    </p>
  </body>
</html>
